# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log

# Node/Next.js
node_modules/
.next/
.env
.env.local

# VSCode
.vscode/

# Ignore migrations except for __init__.py
*/migrations/*
!*/migrations/__init__.py