.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 4px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #3510f0e3;
  text-decoration: none;
}

.searchWrapper {
  flex: 1;
  margin: 0 24px;
  display: flex;
  justify-content: center;
}

.userSection {
  display: flex;
  align-items: center;
}

.authLinks a {
  margin-left: 12px;
  text-decoration: none;
  color: #333;
}

.userIcon {
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.dropdown {
  position: absolute;
  top: 70px;
  right: 24px;
  background-color: #fff;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 100;
}
.dropdown .button{
  background-color: #3510f0e3;
  color: #fff;
  border-radius: 2px;
}