.searchContainer {
  display: flex;
  width: 100%;
  max-width: 600px;
}

.searchInput {
  flex: 1;
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-radius: 8px 0 0 8px;
  outline: none;
  font-size: 16px;
}

.searchButton {
  padding: 10px 20px;
  background-color: #3510f0e3;
  color: white;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-size: 16px;
}

.searchButton:hover {
  background-color: #3510f0e3;
}
